/* SideBar.css */
.sidebar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px; 
    width: 200px; 
    height: 85vh; 
    padding: 10px; 
    border-right: 1px solid #e0e0e0;
    background-color: transparent;
     
        
}

/*NEW*/
  
.sidebar {
    position: fixed;
    bottom: 20px;
    height: 94vh;
    width: 14%;
    background-color: transparent;
    
    
      
    
    
}

.sidebar.hidden {
    transform: translateX(-90%); /* Adjust based on the width */
    
}

.sidebar-header {
    font-family: 'inter';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 200px; 
    height: 3.5vh;
    background-color: transparent;
    border-right: 1px solid #e0e0e0;
    
    
    
}

.sidebar-header img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}



